#main-window:not(#f) .tabbrowser-tab {
   -moz-box-sizing: border-box !important;
   height: 33px !important;
   vertical-align: top !important;
}
#main-window:not(#f) .titlebar-button {
   height: 33px !important;
}
#main-window:not(#f) #titlebar-buttonbox,
 .tabbrowser-arrowscrollbox scrollbox > box {
   display: block !important;
}
#main-window:not(#f) #titlebar-buttonbox {
   vertical-align: top !important;
}
.tabbrowser-arrowscrollbox scrollbox {
   overflow: visible !important;
}
.tab-label-container[textoverflow]:not([pinned]) {
   mask-image: unset !important;
}
.scrollbutton-up,
.scrollbutton-down {
   display: none !important;
}
